.mobile {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 24, 24);
  height: 35vh;
  width: 60vw;
  position: absolute;
  right: 0;
  top: -6px;
  padding: 18px;
}

.close-menu {
  display: flex;
  justify-content: flex-end;
  color: rgba(255, 0, 0, 0.7);
}

.close-menu:hover {
  color: red;
}

.mobile-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  padding-top: 24px;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.mobile-option {
  font-size: 24px;
  margin: 12px 0;
  display: flex;
}

.mobile-option a {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.7);
}

.mobile-option a:hover {
  color: red;
}

@media only screen and (max-width: 512px) {
  .mobile-options {
    margin-top: 60px;
  }

  .mobile-option {
    font-size: 14px;
    margin: 14px 0;
    display: flex;
  }
}