.web {
  display: flex;
  flex: 1;
  align-items: center;
}

.web-options {
  display: flex;
  margin-left: 30px;
}

.web-options a {
  text-decoration: none;
  color: rgba(224, 217, 217, 0.849);
}

.web-options a:hover {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.web-icons {
  margin-right: 8px;
}