.header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  font-size: 24px;
  color: white;
  margin-top: 10px;
  margin-left: 180px;
  margin-bottom: 10px;
}

.menu {
  background-color: black;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  color: white;
  margin-top: 10px;
  margin-right: 180px;
  margin-bottom: 10px;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {
  .mobile-menu {
    display: flex;
  }

  .web-menu {
    display: none;
  }

  .logo {
    font-size: 24px;
    margin-left: 80px;
  }

  .menu {
    margin-right: 80px;
  }
}

@media only screen and (max-width: 512px) {
  .logo {
    font-size: 24px;
    margin-left: 40px;
  }

  .menu {
    margin-right: 40px;
  }
}