.project-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
  margin-top: 50px;
  margin-left: 20px;
}

.project-card-image {
  width: 100%;
}

.project-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.project-card-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
  color: black;
}

.project-card-git-hub {
  color: #6c757d;
  font-size: 10px;
  font-weight: 500;
  margin: 0 0 8px;
}

.project-card-storyline {
  font-size: 14px;
  text-align: justify;
  color: black;
}

@media only screen and (max-width: 512px) {
  .project-card {
    height: 350px;
    margin: 2px;
    overflow: hidden;
    width: 200px;
    margin-top: 30px;
  }

  .project-card-title {
    font-size: 16px;
  }
  
  .project-card-git-hub {
    font-size: 8px;
  }
  
  .project-card-storyline {
    font-size: 10px;
  }
}